<footer class="Grid | Footer">
  <div class="Footer__main">
    <ssr-slot name="primary">
      <div>
        <p>
          <small>
            <span>Copyright &copy; {{new Date().getFullYear()}}</span>
            <ssr-for item="item" index="i" of="menu">
              <ssr-if condition="i &gt; 0"><span> • </span></ssr-if>
              <a href="{{item.href}}" target="{{item.target}}">
                <span>{{item.name}}</span>
              </a>
            </ssr-for>
          </small>
        </p>
      </div>
    </slot>
    <ssr-slot name="secondary" />
  </div>
</footer>
