<script context="component">
  const url = new URL($global.url);

  for (const item of menu) {
    if (!url) break;
    if (url.pathname === item.href) {
      item.current = true;
      continue;
    }
    // Ignore homepage matching everything
    if (item.href === '/' || url.pathname === '/') {
      continue;
    }
    // Match sub-pages
    if (url.pathname.startsWith(item.href)) {
      item.current = true;
      continue;
    }
  }
</script>

<ul class="Menu" id="{{$local.id}}">
  <ssr-for item="item" of="menu">
    <li class="Menu__item">
      <ssr-if condition="item.button">
        <pw-button small href="{{item.href}}" label="{{item.name}}" />
      <ssr-else>
        <a class="Menu__link" href="{{item.href}}" aria-current="{{item.current ? 'page' : 'false'}}">
          <span>{{item.name}}</span>
        </a>
      </ssr-if>
    </li>
  </ssr-for>
</ul>
