<patchwork-nav>
  <template shadowrootmode="open">
    <slot></slot>
  </template>
  <nav class="Grid | Nav" id="nav" popover>
    <pw-button icon label="Close Menu" classes="{{['Hamburger']}}" popovertarget="nav" popovertargetaction="hide">
      <ssr-fragment slot="icon"><icon-close /></ssr-fragment>
    </pw-button>
    <pw-menu id="nav-menu" menu="{{menu}}" />
    <pw-button disabled icon id="settings-button" label="Settings" popovertarget="settings" popovertargetaction="toggle">
      <ssr-fragment slot="icon"><icon-config /></ssr-fragment>
    </pw-button>
  </nav>
</patchwork-nav>

<template id="settings-template">
  <div id="settings" popover>
    <div class="Button-group jc-end">
      <p class="small space-xs mi-end">Theme</p>
      <pw-button disabled id="settings-light" label="Light" />
      <pw-button disabled id="settings-dark" label="Dark" />
    </div>
  </div>
</template>

<ssr-fragment portal="head">
  <script type="module" src="/scripts/patchwork-nav.js?v={{deployHash}}"></script>
</ssr-fragment>
