.App {
  align-items: start;
  display: flex;
  flex-direction: column;
  min-block-size: 100dvh;

  & > * {
    flex: 0 1 auto;
    min-inline-size: 0;
  }

  & > :last-child:not(:only-child) {
    margin-block-start: auto;
  }
}
