@view-transition {
  navigation: auto;
}

body {
  accent-color: oklch(var(--color-primary));
  color: oklch(var(--color-text));
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  font-weight: 400;
  justify-content: start;
  line-height: var(--line-height);
  min-block-size: 100svb;

  & > * {
    flex: 0 1 auto;
    min-inline-size: 0;
    max-inline-size: 100%;
  }

  & > :where(:last-child:not(:only-child), footer:last-of-type) {
    margin-block-start: auto;
  }

  &:where([inert], :has(dialog[open])) {
    overflow: hidden;
  }
}

patchwork-nav,
patchwork-hero,
patchwork-header {
  display: contents;
}
