:root {
  background: oklch(var(--color-bg-default));
  color: oklch(var(--color-text));
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
  scrollbar-color: oklch(var(--color-blue)) oklch(var(--color-bg-default));
}
