@property --font-size {
  syntax: '<length> | <custom-ident>';
  inherits: true;
  initial-value: 16px;
}

@property --line-height {
  syntax: '<number> | <custom-ident>';
  inherits: true;
  initial-value: 1.4;
}

:root {
  --color-bg-1: light-dark(oklch(97% 0.03 75), oklch(20% 0.015 275));
  --color-bg-2: light-dark(oklch(95% 0.03 75), oklch(15% 0.015 275));
  --color-bg-3: light-dark(oklch(93% 0.04 75), oklch(25% 0.015 275));
  --color-bg-4: light-dark(oklch(90% 0.05 75), oklch(35% 0.015 275));
  --color-text: light-dark(oklch(15% 0.04 45), oklch(95% 0.04 65));
  --color-text-subtle: light-dark(oklch(50% 0.04 45), oklch(65% 0.04 65));
  --color-secondary: light-dark(oklch(55% 0.14 25), oklch(75% 0.15 25));
  --color-primary: light-dark(oklch(55% 0.14 45), oklch(75% 0.15 45));
  --color-tertiary: light-dark(oklch(65% 0.22 0), oklch(90% 0.12 90));
  --color-focus: var(--color-tertiary);
  --color-anchor: var(--color-primary);

  --font-weight-base: 0;
  --font-weight-1: calc(var(--font-weight-base) + 400);
  --font-weight-2: calc(var(--font-weight-base) + 600);

  &[data-theme='light'] {
    --font-weight-base: 0;
    color-scheme: light;
  }

  &[data-theme='dark'] {
    --font-weight-base: 50;
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --font-weight-base: 0;
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-base: 50;
    color-scheme: dark;
  }
}

:root {
  /* --fluid: calc((var(--body-size) - 400px) / (1200 - 400)); */
  --fluid: calc((100vi - 400px) / (1200 - 400));
  --rem: 0.0625rem;

  --size-0: clamp(2px, calc(2px + (3 - 2) * var(--fluid)), 3px);
  --size-1: clamp(4px, calc(4px + (6 - 4) * var(--fluid)), 6px);
  --size-2: clamp(8px, calc(8px + (10 - 8) * var(--fluid)), 10px);
  --size-3: clamp(12px, calc(12px + (16 - 12) * var(--fluid)), 16px);
  --size-4: clamp(16px, calc(16px + (20 - 16) * var(--fluid)), 20px);
  --size-5: clamp(20px, calc(20px + (25 - 20) * var(--fluid)), 25px);
  --size-6: clamp(26px, calc(26px + (32 - 26) * var(--fluid)), 32px);
  --size-7: clamp(34px, calc(34px + (42 - 34) * var(--fluid)), 42px);
  --size-8: clamp(44px, calc(44px + (55 - 44) * var(--fluid)), 55px);
  --size-9: clamp(56px, calc(56px + (70 - 56) * var(--fluid)), 70px);

  --block-gap-1: var(--size-4);
  --block-gap-2: var(--size-5);

  --border-size-1: 1px;
  --border-size-2: 2px;

  --radius-0: var(--size-0);
  --radius-1: var(--size-1);
  --radius-2: var(--size-2);

  --font-size-0: 1rem;
  --font-size-1: clamp(
    calc(18 * var(--rem)),
    calc((18 * var(--rem)) + (20 - 18) * var(--fluid)),
    calc(20 * var(--rem))
  );
  --font-size-2: clamp(
    calc(20 * var(--rem)),
    calc((20 * var(--rem)) + (24 - 20) * var(--fluid)),
    calc(24 * var(--rem))
  );
  --font-size-3: clamp(
    calc(22 * var(--rem)),
    calc((22 * var(--rem)) + (28 - 22) * var(--fluid)),
    calc(28 * var(--rem))
  );
  --font-size-4: clamp(
    calc(24 * var(--rem)),
    calc((24 * var(--rem)) + (34 - 24) * var(--fluid)),
    calc(34 * var(--rem))
  );
  --font-size-5: clamp(
    calc(26 * var(--rem)),
    calc((26 * var(--rem)) + (42 - 26) * var(--fluid)),
    calc(42 * var(--rem))
  );
  --font-size-6: clamp(
    calc(32 * var(--rem)),
    calc((32 * var(--rem)) + (90 - 32) * var(--fluid)),
    calc(90 * var(--rem))
  );

  --font-size: var(--font-size-1);
  --line-height: 1.4;

  --font-display: 'Sora', sans-serif;
  --font-sans: 'Sora', sans-serif;
  --font-mono: monospace;

  --focus-outline: var(--border-size-2) solid var(--color-focus);
}
