@property --body-size {
  syntax: '<length>';
  initial-value: 0px;
  inherits: true;
}

@property --font-size {
  syntax: '<length>';
  inherits: true;
  initial-value: 16px;
}

@property --line-height {
  syntax: '<number>';
  inherits: true;
  initial-value: 1.4;
}

body {
  --body-size: 100cqi;
  --fluid: calc((var(--body-size) - 400px) / (1200 - 400));

  --size-0: clamp(2px, calc(2px + (3 - 2) * var(--fluid)), 3px);
  --size-1: clamp(4px, calc(4px + (6 - 4) * var(--fluid)), 6px);
  --size-2: clamp(8px, calc(8px + (10 - 8) * var(--fluid)), 10px);
  --size-3: clamp(12px, calc(12px + (16 - 12) * var(--fluid)), 16px);
  --size-4: clamp(16px, calc(16px + (20 - 16) * var(--fluid)), 20px);
  --size-5: clamp(20px, calc(20px + (25 - 20) * var(--fluid)), 25px);
  --size-6: clamp(26px, calc(26px + (32 - 26) * var(--fluid)), 32px);
  --size-7: clamp(34px, calc(34px + (42 - 34) * var(--fluid)), 42px);
  --size-8: clamp(44px, calc(44px + (55 - 44) * var(--fluid)), 55px);
  --size-9: clamp(56px, calc(56px + (70 - 56) * var(--fluid)), 70px);

  --block-gap-1: var(--size-4);
  --block-gap-2: var(--size-5);

  --radius-0: var(--size-0);
  --radius-1: var(--size-1);
  --radius-2: var(--size-2);

  --border-size-1: 1px;
  --border-size-2: 2px;

  --font-size-0: clamp(14px, calc(14px + (16 - 14) * var(--fluid)), 16px);
  --font-size-1: clamp(18px, calc(18px + (20 - 18) * var(--fluid)), 20px);
  --font-size-2: clamp(20px, calc(20px + (24 - 20) * var(--fluid)), 24px);
  --font-size-3: clamp(22px, calc(22px + (28 - 22) * var(--fluid)), 28px);
  --font-size-4: clamp(24px, calc(24px + (34 - 24) * var(--fluid)), 34px);
  --font-size-5: clamp(26px, calc(26px + (42 - 26) * var(--fluid)), 42px);
  --font-size-6: clamp(32px, calc(32px + (90 - 32) * var(--fluid)), 90px);

  --font-size: var(--font-size-1);
  --line-height: 1.4;
}

body {
  --focus-outline: var(--border-size-2) solid oklch(var(--color-focus));

  --font-display: 'Sora', sans-serif;
  --font-sans: 'Sora', sans-serif;
  --font-monospace: monospace;
}

:root {
  --color-pink: 75% 0.22 330;

  --color-focus: var(--color-tertiary);
  --color-anchor: var(--color-primary);

  --scroll-y: 0;
  --scroll-dir: 1;
}

:root[data-theme='dark'] {
  --color-bg-1: 20% 0.015 275;
  --color-bg-2: 15% 0.015 275;
  --color-bg-3: 25% 0.015 275;
  --color-bg-4: 35% 0.015 275;
  --color-text: 95% 0.04 65;
  --color-text-subtle: 65% 0.04 65;
  --color-secondary: 75% 0.15 25;
  --color-primary: 75% 0.15 45;
  --color-tertiary: 90% 0.12 90;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --color-bg-1: 20% 0.015 275;
    --color-bg-2: 15% 0.015 275;
    --color-bg-3: 25% 0.015 275;
    --color-bg-4: 35% 0.015 275;
    --color-text: 95% 0.04 65;
    --color-text-subtle: 65% 0.04 65;
    --color-secondary: 75% 0.15 25;
    --color-primary: 75% 0.15 45;
    --color-tertiary: 90% 0.12 90;
  }
}

:root[data-theme='light'] {
  --color-bg-1: 97% 0.03 75;
  --color-bg-2: 95% 0.03 75;
  --color-bg-3: 93% 0.04 75;
  --color-bg-4: 90% 0.05 75;
  --color-text: 15% 0.04 45;
  --color-text-subtle: 50% 0.04 45;
  --color-secondary: 55% 0.14 25;
  --color-primary: 55% 0.14 45;
  --color-tertiary: 65% 0.22 0;
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    --color-bg-1: 97% 0.03 75;
    --color-bg-2: 95% 0.03 75;
    --color-bg-3: 93% 0.04 75;
    --color-bg-4: 90% 0.05 75;
    --color-text: 15% 0.04 45;
    --color-text-subtle: 50% 0.04 45;
    --color-secondary: 55% 0.14 25;
    --color-primary: 55% 0.14 45;
    --color-tertiary: 65% 0.22 0;
  }
}
