*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  hanging-punctuation: first allow-end last;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  -webkit-font-smoothing: antialiased;

  &:where(.translated-rtl) {
    direction: rtl;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

:where(canvas, img, picture, svg, video) {
  block-size: auto;
  border: 0;
  display: block;
  max-inline-size: 100%;
}

:where(button, input, select, textarea) {
  appearance: none;
  background: transparent;
  border: none;
  color: currentColor;
  font: inherit;
  hanging-punctuation: none;
  line-height: inherit;
  padding: 0;
  text-align: start;
  touch-action: manipulation;
}

:where(button) {
  user-select: none;
}

:where(b, strong) {
  font-weight: 700;
}

:where(p, li, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

:where(abbr) {
  &[title] {
    border: none;
    text-decoration: none;
  }
}

:where(cite) {
  font-style: normal;
}

:where(ul, ol, li) {
  list-style: none;
  padding: 0;
}

:where(dialog, [popover]) {
  background: transparent;
  border: 0;
  color: currentColor;
  margin: auto;
  padding: 0;
  position: fixed;
}
