.Table {
  overflow: hidden;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin-block: var(--block-gap-2);

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

table {
  border-collapse: collapse;
  inline-size: 100%;
}

td,
th {
  border-inline: var(--border-size-1) solid var(--color-bg-4);
  --font-size: var(--font-size-0);
  font-size: var(--font-size);
  padding: var(--size-2);
  text-align: start;

  & > button {
    --color: var(--color-text);
    align-items: center;
    color: var(--color);
    display: flex;
    gap: var(--size-2);
    inline-size: 100%;
    justify-content: space-between;
    min-width: max-content;
    padding: var(--size-2);
    transition: color 200ms;

    & svg {
      --color: transparent;
      --size: calc(var(--font-size) * var(--line-height));
      block-size: var(--size);
      color: var(--color);
      fill: currentColor;
      flex: 0 0 auto;
      inline-size: var(--size);
      pointer-events: none;
      transition: color 200ms;
      user-select: none;
    }

    &[aria-pressed] svg {
      --color: var(--color-text-subtle);
    }

    &:hover {
      --color: var(--color-secondary);

      & svg {
        --color: var(--color-secondary);
      }
    }

    &:focus-visible {
      --color: var(--color-focus);
      outline: var(--focus-outline);
      outline-offset: calc(-1 * var(--border-size-2));

      & svg {
        --color: var(--color-focus);
      }
    }
  }

  &:has(> button:only-child) {
    padding: 0;
  }
}

th {
  font-weight: var(--font-weight-2);
}

tr {
  border-block: var(--border-size-1) solid var(--color-bg-4);
}

.Table--stripe {
  & th {
    background-color: var(--color-bg-3);
  }

  & tbody {
    & tr:nth-child(even) {
      background-color: var(--color-bg-2);
    }

    & tr {
      vertical-align: top;
    }

    & tr:hover {
      background: oklch(from var(--color-primary) l c h / 0.1);
    }
  }
}
