.Accordion {
  display: block;
}

.Accordion__header {
  list-style: none;
  user-select: none;

  &::-webkit-details-marker {
    display: none;
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: calc((2 / 16) * 1rem);
  }
}
