.Alert {
  --border-size: var(--border-size-2);
  --background-padding-box: linear-gradient(
    in oklch to right,
    var(--color-bg-1),
    var(--color-bg-2)
  );
  --background-border-box: linear-gradient(
    in oklch 45deg,
    var(--color-secondary),
    var(--color-primary)
  );
  border: var(--border-size) solid var(--color-bg-4);
  border-color: transparent;
  border-radius: var(--radius-2);
  background: var(--background-padding-box) padding-box,
    var(--background-border-box) border-box;
  margin-block: var(--block-gap-2);
  padding: var(--size-5);
  text-align: center;

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }

  & > * {
    max-inline-size: none;
  }
}

.Alert--small {
  --border-size: 1;
  --font-size: var(--font-size-0);
  padding: var(--size-3);
}
