.Container {
  --background-color: var(--color-bg-1);
  --background-opacity: 0;
  background: oklch(var(--background-color) / var(--background-opacity));
  padding-block: var(--grid-row-gap);

  & > * {
    grid-column: inner-start / inner-end;
  }

  & > & {
    grid-column: outer-start / outer-end;
    inline-size: auto;
  }

  & > aside {
    order: 2;
  }

  & > main {
    order: 1;
  }

  &:not([class*='Container--']) {
    & + & {
      padding-block-start: 0;
    }
  }
}

.Container--dark {
  --background-color: var(--color-bg-2);
  --background-opacity: 1;
}

.Container--light {
  --background-color: var(--color-bg-3);
  --background-opacity: 1;
}

@container root (inline-size >= 900px) {
  .Container {
    & > aside {
      grid-column: aside-start / aside-end;
      order: 1;
    }

    & > main {
      grid-column: main-start / main-end;
      order: 2;
    }
  }
}
