.Dialog {
  --border-size: var(--border-size-2);
  background: var(--color-bg-1);
  border-radius: var(--radius-2);
  border: var(--border-size) solid var(--color-secondary);
  inset: 0;
  padding: var(--size-5);
  position: fixed;
  max-inline-size: min(600px, calc(100% - (2 * var(--size-5))));

  &::backdrop {
    background-color: oklch(0% 0 0 / 0.4);
    backdrop-filter: blur(2px);
  }
}

.Dialog--css-transition {
  opacity: 0;
  transition: display 300ms allow-discrete, opacity 300ms,
    overlay 300ms allow-discrete;

  &::backdrop {
    background-color: oklch(0% 0 0 / 0);
    transition: background-color 300ms, display 300ms allow-discrete,
      overlay 300ms allow-discrete;
  }

  &[open] {
    opacity: 1;

    &::backdrop {
      background-color: oklch(0% 0 0 / 0.4);
    }
  }
}

@starting-style {
  .Dialog--css-transition {
    &[open] {
      opacity: 0;

      &::backdrop {
        background-color: oklch(0% 0 0 / 0);
      }
    }
  }
}

.Dialog {
  :state(opening) > & {
    view-transition-name: dialog-in;

    &::backdrop {
      view-transition-name: backdrop-in;
    }
  }

  :state(closing) > & {
    view-transition-name: dialog-out;

    &::backdrop {
      view-transition-name: backdrop-out;
    }
  }
}

@keyframes dialog-in {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0);
  }
}

@keyframes dialog-out {
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes backdrop-in {
  from {
    opacity: 0;
  }
}

@keyframes backdrop-out {
  to {
    opacity: 0;
  }
}

::view-transition-new(dialog-in) {
  animation: 600ms dialog-in;
  animation-timing-function: cubic-bezier(0.6, 2, 0.6, 0.8);
}
::view-transition-old(dialog-in) {
  animation: none;
}
::view-transition-new(dialog-out) {
  animation: none;
}
::view-transition-old(dialog-out) {
  animation: 300ms dialog-out;
  animation-timing-function: ease-in;
}

::view-transition-new(backdrop-in) {
  animation: 300ms backdrop-in;
  animation-timing-function: ease-out;
}
::view-transition-old(backdrop-in) {
  animation: none;
}
::view-transition-new(backdrop-out) {
  animation: none;
}
::view-transition-old(backdrop-out) {
  animation: 300ms backdrop-out;
  animation-timing-function: ease-in;
}
