.Field {
  --background-color: var(--color-bg-2);
  --border-color: var(--color-primary);
  --border-radius: var(--radius-2);
  --border-width: var(--border-size-1);
  --color: var(--color-text);
  --font-size: var(--font-size-0);
  --line-height: 1.5;
  --padding-block: var(--size-2);
  --padding-inline: var(--size-3);
  /* --block-size: calc(
    (var(--font-size) * var(--line-height)) +
      ((var(--padding-block) + var(--border-width)) * 2)
  ); */
  appearance: none;
  background: var(--background-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  /* block-size: var(--block-size); */
  color: var(--color);
  display: block;
  font-family: var(--font-sans);
  font-size: var(--font-size);
  inline-size: 100%;
  line-height: var(--line-height);
  padding: var(--padding-block) var(--padding-inline);
  transition: color 200ms, border-color 200ms;

  &:hover {
    --border-color: var(--color-secondary);
  }

  &:focus-visible {
    --border-color: var(--color-secondary);
    outline: var(--focus-outline);
    outline-offset: var(--size-0);
  }

  &::placeholder {
    color: var(--color-text);
    opacity: 0.5;
    font-size: var(--font-size-0);
  }

  &[readonly] {
    --border-color: var(--color-bg-4);
    --color: var(--color-text-subtle);
  }

  &:disabled {
    --background-color: var(--color-bg-3);
    --border-color: var(--color-bg-4);
    --color: var(--color-text) / 0.5;
    pointer-events: none;
  }

  &:user-invalid {
    --border-color: var(--color-error);
    --color: var(--color-error);
  }

  &[type='file'] {
    --border-width: 0;
    --padding-block: 0;
    --padding-inline: 0;
    --background-color: transparent;
    inline-size: fit-content;
  }

  &[type='search'] {
    --background-light: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="oklch(15% 0.04 45)" d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
    --background-dark: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="oklch(95% 0.04 65)" d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
    --background-image: var(--background-light);
    background-image: var(--background-image);
    background-position: left var(--size-2) center;
    background-repeat: no-repeat;
    background-size: auto var(--font-size);
    padding-inline-start: calc(var(--font-size) + var(--padding-inline));

    &:dir(rtl) {
      background-position: right var(--size-2) center;
    }

    @media (prefers-color-scheme: light) {
      --background-image: var(--background-light);
    }

    @media (prefers-color-scheme: dark) {
      --background-image: var(--background-dark);
    }

    :where(:root[data-theme='light']) & {
      --background-image: var(--background-light);
    }

    :where(:root[data-theme='dark']) & {
      --background-image: var(--background-dark);
    }
  }
}
