.Field {
  --background-color: var(--color-bg-2);
  --border-color: var(--color-primary);
  --border-radius: var(--radius-2);
  --border-width: var(--border-size-1);
  --color: var(--color-text);
  --font-size: var(--font-size-0);
  --line-height: 1.5;
  --padding-block: var(--size-2);
  --padding-inline: var(--size-3);
  /* --block-size: calc(
    (var(--font-size) * var(--line-height)) +
      ((var(--padding-block) + var(--border-width)) * 2)
  ); */
  appearance: none;
  background: var(--background-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  /* block-size: var(--block-size); */
  color: var(--color);
  display: block;
  font-family: var(--font-sans);
  font-size: var(--font-size);
  inline-size: 100%;
  line-height: var(--line-height);
  padding: var(--padding-block) var(--padding-inline);
  transition: color 200ms, border-color 200ms;

  &:hover {
    --border-color: var(--color-secondary);
  }

  &:focus-visible {
    --border-color: var(--color-secondary);
    outline: var(--focus-outline);
    outline-offset: var(--size-0);
  }

  &::placeholder {
    color: var(--color-text);
    opacity: 0.5;
    font-size: var(--font-size-0);
  }

  &[disabled] {
    --background-color: var(--color-bg-3);
    --border-color: var(--color-bg-4);
    --color: var(--color-text) / 0.5;
    pointer-events: none;
  }
}
