.Footer {
  --color-anchor: var(--color-text-subtle);
  --grid-template: var(--grid-template-basic);
  color: var(--color-text-subtle);
  background: var(--color-bg-2);
  padding-block: var(--size-7);
}

.Footer__main {
  align-items: start;
  display: flex;
  gap: var(--size-3);
  justify-content: space-between;
}
