@property --hero-heading-size {
  syntax: '<length>';
  inherits: true;
  initial-value: 16px;
}

@property --hero-visibility {
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

@keyframes --hero {
  0% {
    --hero-heading-size: var(--font-size-6);
    --hero-visibility: 1;
  }
  100% {
    --hero-heading-size: var(--font-size-5);
    --hero-visibility: 0;
  }
}

.Hero {
  --grid-template: var(--grid-template-basic);
  --hero-height: clamp(
    calc((250 / 16) * 1rem),
    calc(100dvw / 1.618),
    calc((100dvh - var(--header-height)) * 0.618)
  );
  --hero-heading-size: var(--font-size-6);
  align-items: center;
  aspect-ratio: 1.618 / 1;
  block-size: var(--hero-height);
  container-name: hero;
  container-type: size;
  position: relative;

  &::before {
    background: var(--color-bg-1);
    background-image: repeating-conic-gradient(
        in oklch from calc(var(--hero-visibility) * 20deg) at 0 100%,
        var(--color-bg-2) 0 10deg,
        transparent 0 20deg
      ),
      linear-gradient(
        in oklch 225deg,
        color-mix(in oklch, var(--color-bg-2) 50%, transparent),
        transparent
      );
    block-size: 150%;
    content: '';
    display: block;
    inline-size: 100%;
    inset-block-start: 0;
    position: absolute;
  }

  &::after {
    background: linear-gradient(in oklch to top, var(--color-bg-1), transparent),
      linear-gradient(in oklch to right, var(--color-bg-1), transparent);
    block-size: 50%;
    display: block;
    content: '';
    inline-size: 100%;
    inset-block-start: 100%;
    position: absolute;
  }

  @supports (animation-timeline: view()) {
    /* animation-fill-mode: both; */
    animation-timing-function: ease-out;
    animation-name: --hero;
    animation-timeline: view(
      block var(--header-height) calc(100% - var(--header-height))
    );
  }
}

.Hero__main {
  --translate-y: calc((var(--hero-height) / 2) - 50% - var(--size-2));
  position: relative;
  transform: translateY(
    calc(var(--translate-y) * (1 - var(--hero-visibility)))
  );
}

.Hero__heading {
  --font-size: var(--hero-heading-size);
  --color1: color-mix(
    in oklch,
    var(--color-secondary) calc(100% * var(--hero-visibility)),
    var(--color-text)
  );
  --color2: color-mix(
    in oklch,
    var(--color-primary) calc(100% * var(--hero-visibility)),
    var(--color-text)
  );
  background: linear-gradient(in oklch 50deg, var(--color1), var(--color2));
  background-clip: text;
  margin: 0;
  -webkit-text-fill-color: transparent;
}

.Hero__intro {
  --font-size: var(--font-size-0);
  opacity: pow(max(0, min(1, var(--hero-visibility))), 8);
  text-wrap: balance;

  @container hero (block-size > 300px) {
    --font-size: var(--font-size-1);
  }
}
