.List {
  --border-color: var(--color-bg-lighter);
  border: calc((1 / 16) * 1rem) solid oklch(var(--border-color));
  border-radius: calc((8 / 16) * 1rem);
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;

  & > * {
    background: none;
    border-block-end: calc((1 / 16) * 1rem) solid oklch(var(--border-color));
    inline-size: 100%;
    margin: 0;
    min-inline-size: 0;
    padding: var(--space-xs) var(--space-s);

    &:last-child {
      border-block-end: 0;
    }
  }

  & > li {
    &::before {
      display: none;
    }

    & > :is(a, button) {
      text-decoration: none;

      &:not(:focus-visible, :hover) {
        --color: var(--color-text);
      }
    }
  }
}
