.List {
  --border-color: var(--color-bg-4);
  border: var(--border-size-1) solid var(--border-color);
  border-radius: var(--radius-2);
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;

  :where(&) > * {
    background: none;
    border-block-end: var(--border-size-1) solid var(--border-color);
    inline-size: 100%;
    margin: 0;
    min-inline-size: 0;
    padding: var(--size-2) var(--size-3);

    &:last-child {
      border-block-end: 0;
    }
  }

  :where(&) > li {
    &::before {
      display: none;
    }
  }

  :where(& > li) > :is(a, button) {
    display: block;
    min-inline-size: 100%;
    text-decoration: none;

    &:not(:focus-visible, :hover) {
      --color: var(--color-text);
    }
  }
}
