.Nav {
  --grid-template: var(--grid-template-basic);
  background: var(--color-bg-2);
  block-size: auto;
  color: var(--color-text);

  display: none;
  inline-size: 100%;
  inset: 0 0 auto 0;
  min-block-size: var(--header-height);
  padding-block-start: var(--header-space);
  padding-block-end: calc(var(--header-space) * 2);

  &:popover-open {
    display: grid;
  }

  &.\:popover-open {
    display: grid;
    margin-block-start: calc(-1 * var(--header-space));
    margin-inline: calc(-1 * var(--grid-column-gap));
    width: auto;
  }
}

#settings-button {
  anchor-name: --settings;
}

#settings {
  position-anchor: --settings;
  background: var(--color-bg-2);
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--color-bg-4);
  inset: 0;
  margin: auto;
  padding: var(--size-2) var(--size-3);

  @supports (inset: anchor(end)) {
    margin: 0;
    inset: auto;
    inset-block-start: calc(anchor(end) + var(--size-3));
    inset-inline-end: anchor(end);
  }

  @supports not (inset: anchor(end)) {
    &::backdrop {
      background-color: oklch(0% 0 0 / 0.4);
      backdrop-filter: blur(2px);
    }
  }
}

@container header (inline-size < 500px) {
  .Nav {
    & .Button-group {
      grid-column: main-start / main-end;
    }

    & [popovertarget='settings'] {
      display: none;
    }
  }

  #settings {
    display: contents;
  }
}

@container header (inline-size >= 500px) {
  .Nav {
    display: contents;

    &:popover-open {
      display: contents;
    }

    &.\:popover-open {
      display: contents;
    }

    & .Menu {
      flex-direction: row;
      gap: var(--size-3);
    }

    & .Menu__item {
      border: 0;
      inline-size: auto;
      padding: 0;
    }
  }

  @supports not selector(:popover-open) {
    #settings {
      &:not(.\:popover-open) {
        display: none;
      }
    }
  }
}
