.Progress {
  --color: var(--color-primary);
  --size: var(--size-5);
  background-image: linear-gradient(
    to right,
    oklch(var(--color-bg-lighter)),
    oklch(var(--color-bg-lighter))
  );
  background-position: 0% center;
  background-repeat: no-repeat;
  background-size: 100% var(--size-2);
  border-radius: var(--radius-1);
  block-size: var(--size);
  display: block;
  inline-size: 100%;
  overflow: clip;
}

.Progress::-moz-progress-bar {
  background: transparent;
  background-image: linear-gradient(
    to right,
    oklch(var(--color-secondary)),
    oklch(var(--color-primary))
  );
  background-position: 0% center;
  background-repeat: no-repeat;
  background-size: 100% var(--size-2);
  block-size: var(--size);
  inline-size: 100%;
}

.Progress::-webkit-progress-bar {
  background: transparent;
}

.Progress::-webkit-progress-value {
  background: transparent;
  background-image: linear-gradient(
    to right,
    oklch(var(--color-secondary)),
    oklch(var(--color-primary))
  );
  background-position: 0% center;
  background-repeat: no-repeat;
  background-size: 100% var(--size-2);
  block-size: var(--size);
}
