.Range {
  --background-color: var(--color-bg-4);
  --color: var(--color-primary);
  --size: var(--size-5);
  block-size: var(--size);
  border-radius: var(--radius-1);
  display: block;
  inline-size: 100%;
  overflow: clip;

  &:hover {
    --color: var(--color-secondary);
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--size-0);
  }

  &:disabled {
    --color: var(--color-text) / 0.5;
    pointer-events: none;
  }
}

.Range::-moz-range-track {
  background: transparent;
  background-image: linear-gradient(
    to right,
    var(--background-color),
    var(--background-color)
  );
  background-position: 0% center;
  background-repeat: no-repeat;
  background-size: 100% var(--size-2);
  block-size: var(--size);
  inline-size: 100%;
}

.Range::-moz-range-thumb {
  appearance: none;
  background: var(--color);
  border: 0;
  border-radius: 100%;
  block-size: var(--size);
  inline-size: var(--size);
  transition: background-color 200ms;
}

.Range::-webkit-slider-runnable-track {
  background: transparent;
  background-image: linear-gradient(
    to right,
    var(--background-color),
    var(--background-color)
  );
  background-position: 0% center;
  background-repeat: no-repeat;
  background-size: 100% var(--size-2);
  block-size: var(--size);
  inline-size: 100%;
}

.Range::-webkit-slider-thumb {
  appearance: none;
  background: var(--color);
  border: 0;
  border-radius: 100%;
  block-size: var(--size);
  inline-size: var(--size);
  transition: background-color 200ms;
}
