.Select {
  --background-light: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="oklch(15% 0.04 45)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m2 5 6 6 6-6"/></svg>');
  --background-dark: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="oklch(95% 0.04 65)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m2 5 6 6 6-6"/></svg>');
  --background-image: var(--background-light);
  --background-color: var(--color-bg-2);
  --border-color: var(--color-primary);
  --border-radius: var(--radius-2);
  --border-size: var(--border-size-1);
  --color: var(--color-text);
  --font-size: var(--font-size-0);
  --line-height: 1.5;
  --padding-block: var(--size-2);
  --padding-inline: var(--size-3);
  /* --block-size: calc(
    (var(--font-size) * var(--line-height)) +
      ((var(--padding-block) + var(--border-size)) * 2)
  ); */
  appearance: none;
  background: var(--background-color);
  background-image: var(--background-image);
  background-size: var(--size-4) auto;
  background-repeat: no-repeat;
  background-position: right var(--size-3) center;
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius);
  /* block-size: var(--block-size); */
  color: var(--color);
  display: block;
  font-family: var(--font-sans);
  font-size: var(--font-size);
  inline-size: 100%;
  line-height: var(--line-height);
  padding: var(--padding-block) var(--padding-inline);
  padding-inline-end: calc(var(--size-4) + (var(--size-3) * 2));
  transition: color 200ms, border-color 200ms;

  &:hover {
    --border-color: var(--color-secondary);
  }

  &:focus-visible {
    --border-color: var(--color-secondary);
    --underline-opacity: 0;
    outline: var(--focus-outline);
    outline-offset: var(--size-0);
  }

  &:disabled {
    --background-color: var(--color-bg-3);
    --border-color: var(--color-bg-4);
    --color: var(--color-text) / 0.5;
    pointer-events: none;
  }

  &:invalid {
    --color: var(--color-text-subtle);
  }

  &:user-invalid {
    --border-color: var(--color-error);
    --color: var(--color-error);
  }

  &:dir(rtl) {
    background-position: left var(--size-2) center;
  }

  @media (prefers-color-scheme: light) {
    --background-image: var(--background-light);
  }

  @media (prefers-color-scheme: dark) {
    --background-image: var(--background-dark);
  }

  :where(:root[data-theme='light']) & {
    --background-image: var(--background-light);
  }

  :where(:root[data-theme='dark']) & {
    --background-image: var(--background-dark);
  }
}
