.Swatches {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
  list-style: none;

  & li {
    aspect-ratio: 1 / 1;
    display: block;
    flex: 0 0 auto;
    font-size: var(--font-size-0);
    margin: 0;
    max-inline-size: calc((100 / 16) * 1rem);
    padding: var(--size-2);
    inline-size: 100%;

    &::before {
      display: none;
    }
  }
}
