.Tooltip {
  background: var(--color-bg-2);
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--color-secondary);
  padding: var(--size-3);

  @supports (inset: anchor(end)) {
    margin-inline: 0;
    margin-block: var(--size-2);
    max-inline-size: calc(100% - var(--size-5));
    position-area: block-end span-inline-end;
    position-try-fallbacks: flip-inline;
    position-try-order: most-inline-size;
  }

  & p {
    --font-size: var(--font-size-0);
  }
}

#tooltip-anchor-1 {
  anchor-name: --tooltip1;
}
#tooltip-1 {
  position-anchor: --tooltip1;
}
