.bg-default {
  background-color: oklch(var(--color-bg-1));
}
.bg-dark {
  background-color: oklch(var(--color-bg-2));
}
.bg-light {
  background-color: oklch(var(--color-bg-3));
}
.bg-lighter {
  background-color: oklch(var(--color-bg-4));
}
.bg-text {
  background-color: oklch(var(--color-text));
}
.bg-text-subtle {
  background-color: oklch(var(--color-text-subtle));
}
.bg-primary {
  background-color: oklch(var(--color-primary));
}
.bg-secondary {
  background-color: oklch(var(--color-secondary));
}
.bg-tertiary {
  background-color: oklch(var(--color-tertiary));
}

.color-bg {
  color: oklch(var(--color-bg-1));
}
.color-text {
  color: oklch(var(--color-text));
}
.color-subtle {
  color: oklch(var(--color-text-subtle));
}
.color-primary {
  color: oklch(var(--color-primary));
}
.color-secondary {
  color: oklch(var(--color-secondary));
}
.color-tertiary {
  color: oklch(var(--color-tertiary));
}
