.space-2xs {
  --space: var(--size-2);
}
.space-xs {
  --space: var(--size-2);
}
.space-s {
  --space: var(--size-3);
}
.space-m {
  --space: var(--size-4);
}
.space-l {
  --space: var(--size-5);
}
.space-xl {
  --space: var(--size-6);
}

.mb-start {
  margin-block-start: var(--space);
}
.mb-end {
  margin-block-end: var(--space);
}
.mb {
  margin-block: var(--space);
}
.mb-0 {
  margin-block: 0;
}

.mi-start {
  margin-inline-start: var(--space);
}
.mi-end {
  margin-inline-end: var(--space);
}
.mi {
  margin-inline: var(--space);
}
.mi-0 {
  margin-inline: 0;
}
