.monospace {
  font-family: var(--font-mono);
}

.h0 {
  --font-size: var(--font-size-5);
  font-size: var(--font-size);
}
.h1 {
  --font-size: var(--font-size-4);
  font-size: var(--font-size);
}
.h2 {
  --font-size: var(--font-size-3);
  font-size: var(--font-size);
}
.h3 {
  --font-size: var(--font-size-2);
  font-size: var(--font-size);
}
.h4 {
  --font-size: var(--font-size-1);
  font-size: var(--font-size);
}

.p {
  --font-size: var(--font-size-1);
  font-size: var(--font-size);
}

.small {
  --font-size: var(--font-size-0);
  font-size: var(--font-size);
}

.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-start {
  text-align: start;
}

.va-bottom {
  vertical-align: bottom;
}
.va-middle {
  vertical-align: middle;
}
.va-top {
  vertical-align: top;
}
